* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);

    --stone100: hsl(30, 54%, 90%);
    --stone150: hsl(30, 18%, 87%);
    --stone600: hsl(30, 10%, 34%);
    --stone900: hsl(24, 5%, 18%);
    --brown800: hsl(14, 45%, 36%);
    --rose800: hsl(332, 51%, 32%);
    --rose50: hsl(330, 100%, 98%);

    --font-family01:"Outfit", sans-serif;
    --font-family02:"Young Serif", sans-serif;
    --text01: 400 16px var(--font-family01);
    --text02: 600 16px var(--font-family01);
    --text03: 700 16px var(--font-family01);
}

img {
    border-radius: 24px;
    width: 615px;
}

h1 {
    font-family: var(--font-family02);
    font-weight: 400;
    color: var(--stone900);
    margin: 20px 0px 20px 0px;
}

h2 {
    font-family: var(--font-family02);
    font-weight: 400;
    color: var(--brown800);
    margin: 20px 0px 20px 0px;
}

h3 {
    font-family: var(--font-family01);
    color: var(--rose800);
    margin: 0px 0px 20px 10px;
}

p {
    font: var(--text01);
    color: var(--stone600);
    margin: 0px 0px 30px 0px;
}

ul {
    color: var(--stone900);
    font: var(--text01)
}

li {
    margin: 0px 0px 10px 30px;
}
 

ol {
    color: var(--stone900);
    font: var(--text01);
    li::marker {
        font-weight: bold;
        color: var(--brown800);
    }
}

span { font: var(--text03);
       color: var(--stone600);
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--stone150);
    margin-bottom: 30px;
    margin-top: 30px;
}

#preparation {
    li::marker {
        color: var(--rose800);
    }
}

#calories {
    margin-left: 245px;
    color: var(--brown800);
}

#carbs {
    margin-left: 264px;
    color: var(--brown800);
}

#protein {
    margin-left: 254px;
    color: var(--brown800);
}

#fat {
    margin-left: 280px;
    color: var(--brown800);
}